<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">You in Corfu</h1>
    <p class="lead">Where the Venetians, the French and the British used to live.</p>
  </div>
</div>
