<div class="container">
  <div class="row">
    <div class="col-md">
      <h1>Add New Hotel</h1>

      <%= render 'hotelform' %>

      <%= link_to 'Back', hotels_path, class: "btn btn-primary" %>

    </div>
  </div>
</div>
